# Ignore raw data (too large for GitHub)
data/raw/*

# Ignore reports 
reports/*

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore specific notebooks you don’t want to track
notebooks/notebooks_03_sentiment-analysis-amazonfashion-reviews.ipynb
notebooks/notebooks_03_sentiment-analysis-amazonfashion-reviews_v2.ipynb

# But keep all figures!
!outputs/figures/*


